body {
  background-color: #f2b2ce;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  margin: 0 auto;
  background-color: #eaefed;
  text-align: center;
  height: 85vh;
  width: 80%;
  border-radius: 10px;
  padding: 0 20px;
}

h1 {
  margin: 0;
  font-size: 3.4rem;
  color: #6f42c1;
}

.value {
  font-size: 2.9rem;
  padding: 5px;
  color: #6c757d;
}
button {
  background-color: #85ffc7;
  border: none;
  border-radius: 3px;
  width: 25%;
  padding: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.control {
  padding: 14px;
}
input {
  width: 25%;
  border-radius: 5px;
  padding: 5px;
}
#res-btn {
  margin: 15px;
}
label {
  font-size: 1.5rem;
}
footer {
  text-align: center;
}
